<style type="text/css">
a {
	color: #009900;
}
a:visited {
	color: #606060;
}
a:active {
	color: #999999;
}
a:hover {
	color: #000000;
}
.style1 {
	background-color: #FFFFFF;
}
.style2 {
	border-width: 0;
	background-color: #979797;
}
.style3 {
	text-align: left;
	border-width: 0;
	background-color: #E2CAE3;
}
.style4 {
	border-width: 0;
}
.style5 {
	border-width: 0;
	background-color: #E2CAE3;
}
.style8 {
	border-width: 0px;
}
.style9 {
	border-width: 0;
	background-color: #FFFFFF;
}
.style10 {
	text-align: left;
	border-width: 0;
	background-color: #FFFFFF;
}
.style11 {
	color: #FFFFFF;
	font-family: Verdana;
	font-size: x-small;
}
.style13 {
	color: #808080;
	font-family: Verdana;
	font-size: x-small;
}
.style14 {
	font-family: Verdana;
	font-size: x-small;
}
.style15 {
	font-family: Verdana;
	font-size: small;
}
.style16 {
	color: #FFFFFF;
	font-family: Verdana;
	font-size: xx-small;
}
.style18 {
	border-left-style: none;
	border-left-width: medium;
}
.style24 {
	border-right-style: none;
	border-right-width: medium;
}
.style25 {
	text-align: left;
}
.style28 {
	border-left-style: solid;
	border-left-width: 0px;
	border-right-style: solid;
	border-right-width: 0px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}
.style31 {
	border-left-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
}
.style33 {
	text-align: center;
	border-left-style: none;
	border-left-width: medium;
	border-right-style: none;
	border-right-width: medium;
	border-bottom-style: none;
	border-bottom-width: medium;
}
.style34 {
	border-left-style: none;
	border-left-width: medium;
	border-right-style: none;
	border-right-width: medium;
}
.style36 {
	border-right-style: solid;
	border-right-width: 1px;
	text-align: right;
}
.style37 {
	border-left-style: solid;
	border-left-width: 1px;
}
.style38 {
	text-align: right;
}
.style39 {
	font-family: Verdana;
	font-size: small;
}
.style40 {
	font-family: Georgia;
	font-size: x-large;
	color: #000000;
}
.style41 {
	font-family: Verdana;
	font-size: x-small;
}
.style42
{
    color: #CC0000;
    font-size: medium;
}
.style43
{
    color: #CC0000;
    font-size: small;
}

/*prev style3*/
.style44 {
	text-align: left;
	border-width: 0;
	background-color: #FFE1C5;
}

/*prev styl5*/
.style45 {
	border-width: 0;
	background-color: #FFE1C5;
}

</style>